- if current_article
  = wrap_layout :layout do
    .article
      - if current_article.metadata[:page]['hero']
        %img.hero{src: current_article.metadata[:page]['hero']}

      %h1= current_article.title
      .meta
        = current_article.metadata[:page]['author']
        %span.issue= "Issue " + current_article.metadata[:page]['issue']
      = yield

    .river
      = partial "river"

= partial "hands"